<div class="row">
  <div class="col-md-auto">
    <table class="table table-hover" style="width: auto">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Región</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let cafe of cafes"
          class="table-active"
          (click)="onSelected(cafe)"
        >
          <th>
            {{ cafe.id.toString() }}
          </th>
          <td>
            {{ cafe.nombre }}
          </td>
          <td>
            {{ cafe.tipo }}
          </td>
          <td>
            {{ cafe.region}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <caption>
    <p>Total café de origen: {{ getTotalOriginCoffee() }}</p>
    <p>Total café blend: {{ getTotalBlendCoffee() }}</p>
  </caption>

  <div *ngIf="selected" class="col-md-auto p-0 ms-4">
    <app-cafe-detail [cafeDetail]="selectedCafe"></app-cafe-detail>
  </div>
</div>
